composer require blade-ui-kit/blade-icons - https://github.com/blade-ui-kit/blade-icons?tab=readme-ov-file#installation
composer require laravel-lang/common --dev - https://laravel-lang.com/basic-usage.html#installation
composer require guzzlehttp/guzzle - https://github.com/guzzle/guzzle?tab=readme-ov-file#installing-guzzle
composer require irazasyed/telegram-bot-sdk - https://telegram-bot-sdk.com/docs/getting-started/installation#installation
composer require laravel-validation-rules/credit-card - https://github.com/laravel-validation-rules/credit-card?tab=readme-ov-file#installation
composer require predis/predis - https://github.com/predis/predis?tab=readme-ov-file#how-to-install-and-use-predis
composer require simplesoftwareio/simple-qrcode - https://packagist.org/packages/simplesoftwareio/simple-qrcode
composer require yoomoney/yookassa-sdk-php - https://github.com/yoomoney/yookassa-sdk-php?tab=readme-ov-file#%D1%83%D1%81%D1%82%D0%B0%D0%BD%D0%BE%D0%B2%D0%BA%D0%B0
composer require laravel/reverb - 
