body.dark #telegram-button-target:hover ~ xbutton a {
  color: #ffffff80 !important;
}

#telegram-button-target:hover ~ xbutton a {
  background-color: #8080801a;
}

#telegram-button-target:hover ~ xbutton a svg#arrow-forward {
  scale: 1.05 !important;
  color: #FFFFFF !important;
  background-color: #0d6efd !important;
}
