@charset "UTF-8";

/* DARK MODE */
body.dark {
	background-color: #000000;
}

body.dark .b-text {
	color: #ffffff;
}

body.dark .fade-in {
	background: linear-gradient(180deg, #00000000, #000000);
}

body.dark .fade-in.top {
	background: linear-gradient(180deg, #000000, #00000000);
}

body.dark .accordion .accordion-item {
	background: #FFFFFF08;
}

body.lightMode li {
	color: #000;
}

body.dark .hook {
	background:
		radial-gradient(farthest-side at -33.33% 50%, #0000 52%, #1a1a1a 54% 57%, #0000 59%) 0 calc(128px/2),
		radial-gradient(farthest-side at 50% 133.33%, #0000 52%, #1a1a1a 54% 57%, #0000 59%) calc(128px/2) 0,
		radial-gradient(farthest-side at 133.33% 50%, #0000 52%, #1a1a1a 54% 57%, #0000 59%),
		radial-gradient(farthest-side at 50% -33.33%, #0000 52%, #1a1a1a 54% 57%, #0000 59%),
		#000000 !important;
	background-size: calc(128px/4.667) 128px, 128px calc(128px/4.667) !important;
}

body.dark .blue-marker::before {
	background-color: #0d6efd;
}

body.dark .blue-circle-offset {
	background-color: #0d6efd;
}

body.dark .vignette::before {
	box-shadow: inset 5px 12px 90px 20px #0e0e0e,
		inset -5px -12px 90px 20px #0e0e0e,
		inset 10px -5px 90px 20px #0e0e0e,
		inset -20px 18px 90px 20px #0e0e0e;
}

body.dark .vignette.vignette_v1::before {
	box-shadow: inset 5px 12px 90px 20px #000000,
		inset -5px -12px 90px 20px #000000,
		inset 10px -5px 90px 20px #000000,
		inset -20px 18px 90px 20px #000000;
}

body.dark .b-section.b-section_v4 {
	background-color: #171717;
}

body.dark .grad-block {
    background-color: #0e0e0e;
}

body.dark .grad-block.grad-block_v1 {
	background-color: #000000;
}

body.dark .b-img.b-img_v21 {
	filter: invert(1) !important;
}

body.dark .arrow-forward-icon {
    color: rgb(255 255 255 / 40%);
}

body.dark .ui-button {
	color: #FFFFFF !important;
	background-color: rgb(128 128 128 / 15%);
	border-color: #00000000;
}


/* body.lightMode .modeLight_darker {
    color: #666666 !important;
} */


body.dark .span_custom,
body.dark .b-img.b-img_open-book {
	background-color: #ffffff1A;
}

body.dark .b-section.b-section_v1 {
	background: linear-gradient(97deg, #000 40%, var(--blue-1) 100%);
}

body.dark .b-text.b-text_v5 {
	color: transparent !important;
	background-image: linear-gradient(0.303turn, #ffffff 1%, #00000000 100%);
    border: 0.1em solid #ffffff33;
}

body.dark .b-section.b-section_v3 {
	background: #0e0e0e;
}

body.dark .b-text.b-text_grey-dark_v1.reverse {
    color: #444444;
}

body.dark .b-section {
	background-color: #000000;
}

body.dark .b-section.b-section_v5 {
	background-color: #000000;
}

body.dark .card {
	background-color: #79797921;
}

body.dark .slight-bg {
    background-color: #79797921;
}

body.dark #custom-target-01:hover ~ .card_v1-danger {
    filter: brightness(0.2);
	filter: blur(0.5em);
	background-color: rgba(224, 31, 25, .1) !important;
}

body.dark .overlay {
	background-color: #000000;
}

body.dark .b-section.b-section_v2 {
	background-color: #080808;
}

body.dark .b-section_doted {
	background-image: radial-gradient(#191919 2px, transparent 2px);
	background-size: 32px 32px;
	background-color: #000000;
}
/* 
ul.slick-dots li button {
	opacity: 0;
	visibility: hidden;
}

ul.slick-dots li {
	cursor: pointer;
} */

body.dark .b-img.b-img_v9 {
	filter: unset;
}

body.dark .flex.blured {
    background-color: #00000087;
}

/* body.lightMode .b-text_grey.b-text_grey_light-mode {
	color: #666666 !important;
} */

/* body.lightMode .b-text_grey.b-text_grey-to-black_light-mode {
	color: #000000 !important;
} */

/* body.lightMode .b-text_grey-dark.b-text_grey-dark-to-grey_light-mode {
	color: #acacac !important
} */
/* 
body.lightMode remember-me-switcher input[type='checkbox'],
body.lightMode color-scheme-switcher input[type='checkbox'] {
	background-color: #eee;
} */

/* body.lightMode .modern-label {
	color: rgba(0, 0, 0, 0.6);
} */
/* 
body.lightMode remember-me-switcher .toggle-circle,
body.lightMode color-scheme-switcher .toggle-circle {
	background-color: #FFFFFF;
	border-color: #eee;
} */
/* 
body.lightMode .close-button {
	background-color: rgba(0, 0, 0, .08);
} */
/* 
body.lightMode .b-text.b-text_v6 {
	background-color: #00000000;
} */

/* body.lightMode .close-icon,
body.lightMode .reload-icon {
	color: rgb(0 0 0);
} */

body.dark .flex.v1 {
    background-color: #0e0e0e;
}

body.dark .flex.v11 {
	background-color: rgb(255 255 255 / 10%);
}

body.lightMode .flex.v12:hover {
    background-color: rgb(57 62 68 / 31%) !important;
}

body.dark .go-button.v8:hover {
    background-color: #FFFFFF1A;
	scale: 1.01;
}

body.dark .flex.v100 {
	background-color: #3A3A3A66;
	border: none;
}

body.dark .ui-set-button {
	border: .1em solid #ffffff;
}

body.dark .circle_overlap {
	background-color: #080808;
}
/* 
body.dark .qr-code-icon {
	border: none !important;
} */

body.dark .flex.v2 {
	background-color: #000000;
	border: 0.1em solid var(--slightly-transparent);
}

body.dark .flex.v3 {
	background-color: #000000;
}

body.dark .form-body {
	background-color: #000000;
}
/* 
body.lightMode .active-color {
	color: rgba(0, 0, 0, 1);
}

body.lightMode .inactive-color {
	color: rgba(0, 0, 0, 0.6);
} */

/* body.lightMode .modern-input:focus ~ .modern-label,
body.lightMode .modern-input:valid ~ .modern-label {
	transform: translateY(-10px) scale(0.87);
	color: rgba(0, 0, 0, 0.8);
}

body.lightMode .modern-input:focus ~ .modern-label .b-text_v6,
body.lightMode .modern-input:valid ~ .modern-label .b-text_v6 {
	background-color: #000000 !important;
} */

/* body.lightMode .reset-icon {
	color: rgba(0, 0, 0, .4);
}

body.lightMode .eye-icon {
	color: rgba(0, 0, 0, .4);
}

body.lightMode .arrow-forward-icon,
body.lightMode .copy-icon,
body.lightMode .copy-icon-normal {
	color: rgba(0, 0, 0, .4);
}

body.lightMode .copy-icon {
	color: rgba(0, 0, 0, .4);
}

body.lightMode .modern-input:focus {
	background-color: rgba(0, 0, 0, 0);
	box-shadow: inset 0 0 0 1px #000;
}

body.lightMode .modern-label.modern-label-error {
	color: rgba(0, 0, 0, .54) !important;
}

body.lightMode .modern-input.modern-input-error {
	background-color: rgba(224, 31, 25, .16);
}

body.lightMode .modern-input.modern-input-error:focus {
	box-shadow: inset 0 0 0 1px #e31c1c;
	background-color: #ffffff00 !important;
} */