body.lightMode {
    background-color: #f8f8f8;
}

body {
    background-color: #0c0c0c;
}

body.lightMode .ds-notice {
    background: #FFFFFF;
}

body.lightMode .ds-row {
    background: #FFFFFF;
}

body.lightMode .modern-copy-input {
    background-color: #ecf1f7;
    color: #000;
}

html,
main,
body {
    height: 100% !important;
}

.ds-notice {
    display: block;
    width: fit-content;
    background-color: #171717;
    border: none;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .04);
    line-height: 1.4;
    padding: 11px 15px;
    font-size: 14px;
    border-left: 4px solid #50d45e;
    border-radius: 0.4em;
}

.ds-row {
    position: relative !important;
    padding: 1em !important;
    inset: unset !important;
    min-width: 255px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .04);
    background: #171717;
    border-radius: 0.4em;
}

.ds-row-contain {
    padding: 1em;
}

.ds-row-contain.vsqueeze {
    padding: 0.5em 1em;
}

.ds-postbox-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.emphasize {
    background-image: linear-gradient(155deg, #E94094 10%, #FDBB6A 30%, #75C9C6 40%, #A0D081 50%, #5DC7DE 60%, #4357A4 79%, #E94094);
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.emphasize.blue {
    background-image: linear-gradient(135deg, #00ffbd, #0d6efd);
}

.emphasize.orange {
    background-image: linear-gradient(155deg, #ee0979 50%, #ff6a00);
}

.emphasize.green {
    background-image: linear-gradient(155deg, #09e3ee 50%, #00ff0c);
}

.modern-copy-input-wrapper {
    position: relative;
    display: block;
    border-radius: inherit;
    width: 100%;
}

.modern-copy-input-wrapper .modern-copy-input {
    font-weight: 400;
    font-size: 0.9em;
    height: 4em;
    border: 0;
    border-radius: 0.5em;
    outline: none;
    color: #FFF;
    background-color: rgb(128 128 128 / 15%);
    width: 100%;
    padding: 1.5em 1em 0;
    border-color: #ffffff21;
}

.modern-copy-input-label {
    position: absolute !important;
    left: 1em;
    font-size: 0.9em;
    top: 0.5em;
    max-width: calc(100% - 32px);
    color: rgba(255, 255, 255, 0.8);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    pointer-events: none;
    transform-origin: left;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-weight: 500;
}

.modern-copy-input-wrapper .right-content {
    display: flex;
}

.success-icon {
    display: flex;
    color: #009973 !important;
    border-radius: .5em;
    width: 1.875em !important;
    height: 1.875em !important;
    cursor: pointer;
}

.copy-icon-normal {
    width: 1em !important;
    height: 1em !important;
    color: rgb(255 255 255 / 40%);
    cursor: pointer;
}

.copy-icon {
    display: flex;
    background-color: var(--slightly-transparent);
    border-radius: .5em;
    width: 2em !important;
    height: 2em !important;
    padding: 0.65em;
    cursor: pointer;
    color: rgb(255 255 255 / 40%);
    position: absolute !important;
    top: 50% !important;
    right: 0 !important;
    transform: translateY(-50%) !important;
    margin-right: 0.9em;
}

.copy-icon path {
    transition: color .225s ease-in-out;
}

.copy-icon:hover path {
    color: #666666;
}
