.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    margin-bottom: 2em;
}

.swiper-arrow {
    position: absolute !important;
    z-index: 10 !important;
    overflow: visible !important;
    top: 50%;
    background-color: #FFF;
    border-radius: 10em !important;
    cursor: pointer !important;
    width: 2.2em !important;
    height: 2.2em !important;
    padding: 0.2em !important;
    transition-property: background-color, scale !important;
    transition-duration: .225s !important;
    transition-timing-function: ease-in-out !important;
}



/* Arrows (navigation) */
.swiper-arrow {
    right: 0;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    display: none;
}

.swiper-arrow::after {
    content: "" !important;
}

.swiper-button-prev {
    background-image: url("/resources/icons/arrow-prev.svg");
}

.swiper-button-next {
    background-image: url("/resources/icons/arrow-next.svg");
}

.swiper-arrow:hover {
    scale: 0.95;
    background-color: rgb(218, 218, 218);
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
    bottom: -2em !important;
}

.swiper_v1 .swiper-wrapper,
.swiper_v1 .swiper-slide,
.swiper_v2 .swiper-wrapper,
.swiper_v2 .swiper-slide,
.swiper_v2 .swiper-slide video,
.swiper_v3 .swiper-wrapper,
.swiper_v3 .swiper-slide {
    transition-property: all !important;
    transition-timing-function: ease-in-out !important;
    transition-duration: .5s !important;
}

.swiper {
    margin: 0px !important;
}

.swiper_v1, .swiper_v2, .swiper_v5 {
    padding-bottom: 2em !important;

}

.swiper_v5 {
    margin: 0 auto !important;
}

.swiper-3d .swiper-slide-shadow {
    display: none !important;
}

.swiper-cards .swiper-slide {
    opacity: .5;
}

.swiper-slide.swiper-slide-active {
    opacity: 1;
}

.swiper_v3 .swiper-slide.swiper-slide-active {
    opacity: 1 !important;
    scale: 1 !important;
}

.swiper_v3 .swiper-slide {
    scale: .75;
    opacity: .1;
}

@media (max-width: 1250px) {

    /* Swiper 1 */
    .swiper_v1 .swiper-slide.swiper-slide-next,
    .swiper_v1 .swiper-slide.swiper-slide-prev {
        scale: .75;
        opacity: .1;
    }

    .swiper_v1 .swiper-slide-next img {
        transform: translate(-5em, 0);
    }

    .swiper_v1 .swiper-slide-prev img {
        transform: translate(5em, 0);
    }

    /* Others */
    .swiper_v1,
    .swiper_v2,
    .swiper_v3 {
        overflow: visible !important;
    }

    .swiper_v2 .swiper-slide.swiper-slide-prev .ring_1Atel,
    .swiper_v2 .swiper-slide.swiper-slide-next .ring_1Atel {
        opacity: 0;
    }

    .swiper_v2 .swiper-slide.swiper-slide-active .ring_1Atel {
        opacity: 1;
    }

    .swiper_v2 .swiper-slide.swiper-slide-next,
    .swiper_v2 .swiper-slide.swiper-slide-prev {
        scale: .75;
        opacity: .1;
    }

    .swiper_v2 .swiper-slide-next video {
        transform: translate(-5em, 0);
    }

    .swiper_v2 .swiper-slide-prev video {
        transform: translate(5em, 0);
    }
}