.modern-family button:disabled svg.input-icon {
    cursor: default;
    pointer-events: none !important;
    color: rgba(255, 255, 255, .4) !important;
    background-color: rgb(128 128 128 / 15%) !important;
}

.modern-family button {
    border-width: 0;
    padding: 0;
    cursor: pointer;
    background-color: #00000000;
    width: fit-content;
}

.modern-family button:disabled {
    cursor: default;
    pointer-events: none !important;
    background-color: #00000000 !important;
    color: #00000000 !important;
}

.modern-family .input-label .input-label-fraction {
    opacity: 0;
    position: relative;
    border-radius: 0.2rem;
    transition: all .225s ease-in-out;
    font-size: 0.7rem;
    color: #666666;
    margin-left: 0.2rem;
    padding: 0.2rem 0.4rem !important;
    background-color: #3f3f3f !important;
    top: -0.1rem !important;
}


.modern-family .input-field:focus~.input-label .input-label-fraction,
.modern-family .input-field:valid~.input-label .input-label-fraction,
.modern-family .input-field:read-only~.input-label .input-label-fraction {
    opacity: 1;
}

/* LIGHT MODE */

body.lightMode .modern-family button:disabled svg.input-icon {
    color: rgba(0, 0, 0, .4) !important;
}

body.lightMode .modern-family .input-field:focus~.input-label .input-label-fraction,
body.lightMode .modern-family .input-field:valid~.input-label .input-label-fraction,
body.lightMode .modern-family .input-field:read-only~.input-label .input-label-fraction {
    background-color: #000000 !important;
}