
.component .input-button svg.input-icon.input-icon_copy {
	color: rgba(255, 255, 255, .4);
	background-color: rgb(128 128 128 / 15%);
	padding: 0.5rem;
}

.component .input-field:read-only ~ .input-label {
	transform: translateY(calc(-1rem * 0.85)) scale(0.85);
	color: rgba(255, 255, 255, 0.8);
}

body.lightMode .component .input-button svg.input-icon.input-icon_copy {
	color: rgba(0, 0, 0, .4);
}

@media (max-width: 1250px) {
	.component .input-button svg.input-icon.input-icon_copy {
		padding: 0.6em;
	}
}