.modern-family .modern-submit-button {
    font-size: 1em;
    position: relative;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
    padding: 0 1em;
    font-weight: 500;
    height: 4rem;
    border: 0;
    border-radius: 0.5rem;
    outline: none;
    color: #FFFFFF !important;
    background-color: rgb(128 128 128 / 15%);
    width: 100%;
    text-align: left;
    transition: all .225s ease-in-out;
    /* border: .1rem dashed #FFFFFF33; */
    min-height: 3.5em;
    min-width: 10em;
}

.modern-family .modern-submit-button:hover {
    color: #ffffff80 !important;
    background-color: rgb(128 128 128 / 10%);
}

.modern-family .modern-submit-button:hover>.default-icon {
    color: #FFF;
    background-color: #0d6efd;
    border-radius: 100%;
}

.modern-family .button-icon {
    display: flex;
    background-color: var(--slightly-transparent);
    border-radius: .5em;
    width: 2em !important;
    height: 2em !important;
    cursor: pointer;
    padding: 0.5rem;
    color: rgb(255 255 255 / 40%);
}