:root {
    --modal-background-color: #0e0e0e;
}

body.dark .modal-container {
    --modal-background-color: #FFF;
}

html.modal-active {
    overflow: hidden !important;
}

.modal-container {
    position: fixed;
    display: table;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    transform: scale(0);
    z-index: 101;
}

.modal-container .modal-background {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    background: rgba(0, 0, 0, .0);
}

.modal-container .modal-background .modal {
    background: #0e0e0e;
    display: inline-block;
    border-radius: 3px;
    font-weight: 300;
    position: relative;
    width: 60%;
    height: 28em;
    overflow: hidden;
    background-color: rgba(0, 0, 0, .0);
}

.modal-container.active {
    transform: scale(1);
}

.modal-container.active .modal-background {
    animation: fadeIn 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

.modal-container.active .modal-background .modal {
    animation: modalFadeIn 0.5s 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

.modal-container.inactive {
    transform: scale(1);
    animation: quickScaleDown 0s 0.5s linear forwards;
}

.modal-container.inactive .modal-background {
    animation: fadeOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

.modal-container.inactive .modal-background .modal {
    animation: modalFadeOut 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}


@keyframes fadeIn {
    0% {
        background: rgba(0, 0, 0, .0);
    }

    100% {
        background: rgba(0, 0, 0, .7);
    }
}

@keyframes fadeOut {
    0% {
        background: rgba(0, 0, 0, .7);
    }

    100% {
        background: rgba(0, 0, 0, .0);
    }
}

@keyframes modalFadeOut {
    0% {
        background-color: var(--modal-background-color);
    }

    100% {
        background-color: transparent;
    }
}

@keyframes modalFadeIn {
    0% {
        background-color: transparent;
    }

    100% {
        background-color: var(--modal-background-color);
    }
}

@keyframes quickScaleDown {
    0% {
        transform: scale(1);
    }

    99.9% {
        transform: scale(1);
    }

    100% {
        transform: scale(0);
    }
}