.modern-family .input-field:placeholder-shown~.input-button svg {
    cursor: default;
    color: rgba(255, 255, 255, .4) !important;
    background-color: rgb(128 128 128 / 15%) !important;
}

/* LIGHT MODE */

body.lightMode .modern-family button:disabled svg.input-icon {
    color: rgba(0, 0, 0, .4) !important;
}