.morecontent span {
    display: none;
}

.morelink {
    width: fit-content;
    margin-top: 0.5em;
    display: block;
    text-decoration: none;
    color: #0d6efd;
}

.morelink:hover {
    color: #0d59fd;
    scale: 1.005;
}






.b-text.b-text_1\.3em {
    font-size: 1.4em;
}

.b-block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: left;
    padding: 1em;
    border: 0.2em solid #353535;
    transform: translate(0, 0);
    width: 100%;
    margin-bottom: 1em;
    border-radius: 1.4em;
}

.b-block_animation-disabled {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: left;
    padding: 1em;
    border: 0.2em solid #353535;
    width: 100%;
    margin-bottom: 2.4em;
    border-radius: 2.4em;
}

.b-block_color-dark {
    background-color: #131314;
}

.b-block:hover {
    border: 3px solid #ffffff;
    transform: translate(0em, -0.2em);
}

.h-margin {
    margin-bottom: 2em;
}

.b-block_v-1 {
    padding: 1em 1em;
    margin-bottom: 1em;
    background-color: #0067FF;
    border: none;
    border-radius: 1em;
}