/* Slider 1 */
.slider_v1 .slick-slide.slick-current {
    scale: 1;
}

.slider_v1 .slick-slide.slick-current .b-text {
    opacity: 1;
}

.slider_v1 .slick-slide {
    scale: 0.9;
}

.slider_v1 .slick-slide .b-text {
    opacity: 0;
}

.slick-dots {
    position: absolute;
    display: flex;
    left: 50%;
    transform: translate(-50%, 0);
}

.slick-dots li {
    margin: 0 0.2em;
}

.slick-dots li.slick-active {
    color: #0d6efd;
}

.slick-arrow {
    position: absolute;
    z-index: 10;
    top: 50%;
    transform: translate(0, -50%);
    background-color: #FFF;
    border-radius: 10em;
    cursor: pointer;
    width: 2.2em;
    height: 2.2em;
    padding: 0.2em;
}

.slick-arrow:hover {
    scale: 0.95;
    background-color: rgb(218, 218, 218);
}

.slick-prev.slick-arrow {
    left: 0;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.slick-next.slick-arrow {
    right: 0;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.slider_v1 .slick-next.slick-arrow,
.slider_v1 .slick-prev.slick-arrow,
.slider_v3 .slick-next.slick-arrow,
.slider_v3 .slick-prev.slick-arrow 
 {
    transform: none;
}

.slick-track {
    height: auto !important;
    display: flex !important;
    align-items: center;
}

.slick-initialized .slick-slide {
    display: flex !important;
}

.slider_v2 .slick-track {
    height: 25em;
}

@media (max-width: 1250px) {
    .slick-track {
        height: 12em;
    }

    .slider_v2 .slick-track {
        height: 15em;
    }
}